
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// flatpickr
@import "~flatpickr/dist/flatpickr.css";

// Bootstrap modification
.page-link:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// Custom css
.content-box {
	margin-top: 25px;
}

// Loading Spinner
.loader {
	text-align: center;
}
.loader-icon {
	display: inline-block;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 48px;
    height: 48px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}